@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
/* nav  */
nav {
  padding: 24px 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
}
.nav_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 40px;
}
li {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.nav_flex2 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav_flex2 button {
  background-color: rgba(29, 33, 48, 1);
  border: none;
  padding: 12px 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: white;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}
.nav_flex2 button:hover {
  box-shadow: 0px 0px 20px 3px rgba(29, 33, 48, 1);
  color: rgba(112, 193, 116, 1);
}
.nav_flex2 button:active {
  box-shadow: 0px 0px 10px 0px rgba(29, 33, 48, 1);
  color: white;
}
.humberger {
  display: none;
}
@media (max-width: 796px) {
  .nav_flex2 {
    display: none;
  }
  .humberger {
    display: inline;
  }
  .hum_div {
    width: 100%;
  }
  .nav_flex {
    flex-direction: column;
    align-content: center;
  }
  .nav_flex2 {
    flex-direction: column;
    align-items: center;
  }
  ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
nav.active .nav_flex2 {
  display: flex;
}
body.dark {
  background-color: rgb(165, 165, 165);
}
footer {
  margin-top: 69px;
  background-color: black;
  color: white;
  padding: 96px 0px;
}
.footer_div {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.div_footer_flex {
  display: flex;
  gap: 88px;
}
.div_footer_flex div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.h4_in_footer {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}
footer p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  opacity: 78%;
}
footer h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  max-width: 440px;
  margin-bottom: 32px;
}
form {
  width: 544;
  height: 64;
  top: 240px;
  left: 846px;
  border-radius: 4px;
  border: 1px solid rgba(235, 240, 249, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form button {
  border-radius: 4px;
  padding: 22px 32px;
}
form input {
  width: 100%;
  background: none;
  outline: none;
  height: 64px;
  padding: 10px;
  color: rgb(255, 255, 255);
  border: none;
  width: 76;
  height: 19;
  top: 262px;
  left: 870px;
  opacity: 0.8;
}
@media (max-width: 1027px) {
  .footer_div {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 1027px) {
  .footer_div {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 456px) {
  .div_footer_flex {
    gap: 20px;
  }
}
.backtop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
/* backtop */
.button {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: #1b4552;
  border: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px double #e9e9e9;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: #e9e9e9;
}

.button:hover {
  width: 140px;
  border-radius: 15px;
  transition-duration: 0.3s;
  background-color: #1b4552;
  align-items: center;
}

.button:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: #e9e9e9;

  font-size: 0px;
}

.button:hover::before {
  font-family: Garet;
  font-size: 15px;
  opacity: 1;
  bottom: unset;

  transition-duration: 0.3s;
}
.type_all {
  margin-top: 120px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.type_card {
  width: 411px;
  height: 421px;
  border-radius: 12px;
}
.type1 {
  background-image: url("../main_imgs/type1.svg");
}
.type2 {
  background-image: url("../main_imgs/type2.svg");
}
.type3 {
  background-image: url("../main_imgs/type3.svg");
}
.backdrop {
  width: 100%;
  height: 100%;
  padding: 80px 48px;
  border-radius: 12px;
  background-color: rgba(11, 7, 6, 0.423);
  color: white;
}
.backdrop h5 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0px;
}
.backdrop p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0px;
}
@media (max-width: 855px) {
  .type_all {
    flex-wrap: wrap;
    justify-content: center;
  }
}
a {
  color: rgba(11, 7, 6, 1);
}

a:hover {
  color: rgb(84, 83, 83);
}
.img_bg {
  background-image: url("../main_imgs/bg.svg");
  background-size: cover;
  padding: 93px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_bg h2 {
  max-width: 631px;
  padding-top: 32px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.buttons_In_imgbg {
  margin-top: 32px;
  display: flex;
  gap: 32px;
}
.buttonn {
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(255, 255, 255, 1);
}
.done {
  color: black;
}
.join {
  background-color: rgba(112, 193, 116, 1);
}
@media (max-width: 385px) {
  .buttons_In_imgbg {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.ecologia_h2 {
  margin-top: 96px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0px;
}

.grdi_box img {
  width: 280px;
}
.grdi_box {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  margin: 0 auto;
}
.grdi_box h5 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0px;
  max-width: 300px;
}
@media (max-width: 1193px) {
  .grdi_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gird_card {
    max-width: 300px;
  }
}
.BoxEnd_page {
  display: flex;
  justify-content: space-between;
}
.Card_endpage {
  background-color: rgba(190, 243, 192, 1);
  padding: 32px 28px;
  display: flex;
  gap: 24px;
  border-radius: 8px;
}
/* .Card_endpage div{
  display: flex;
  align-items: center;
} */

.BoxEnd_page h6 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(29, 33, 48, 1);
  margin-bottom: 8px;
}
.BoxEnd_page h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgba(29, 33, 48, 1);
  max-width: 381px;
}
.edn_page {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
}
@media (max-width: 1233px) {
  .BoxEnd_page {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 376px) {
  .BoxEnd_page h3 {
    font-size: 12px;
  }
}
